/* 


*/
$color1: #212121;/* Fondo */
$color2: #6D9886;/* Navs y Foot */
$color3: #F6F6F6;/* Jumbo */
$color4: #FFE3E3;/*  */
$color5: #6D9886;/* Trans */
$color6: #D9CAB3;/* Crear Cuenta */
*{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: $color1;

    header{
        .navbar{
            background-color: $color2 !important;
            .collapse{
                justify-content: flex-end;
                margin-right: 1rem;
                .navbar-nav{
                    background-color: $color6 !important;

                }
            }
        }
    }

    main{

        .jumbotron{
            margin-bottom: 0.5rem;
            background-color: $color3;
            color: $color5;
        }

        .cuentasMov{//lista de cuentas con movimientos
            background-color: $color6;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 0.5rem;

            .lista{
                border: 1px solid $color5;
                max-height: 250px;
                overflow-y: scroll;
                
                .encabezado{
                    margin: 0px;
                    padding: 0px;
                    
                    .titulo{
                        margin-bottom: 5px;
                        border: 0px;
                        font-size: 1.3rem;

                        p{
                            padding: 0.15rem;
                            margin: 0px;
                        }
                    }

                    .botones{ //botones de actualizar y cerrar la lista
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        button{
                            background-color: white;
                            border-radius: 15px;
                            border-style: none;
                            width: 30px;
                            height: 30px;
                            margin: 4px 3px 4px 3px;
                        }
                        .btn-reload:hover{
                            background-color: #c6f5e9;
                        }
                        .btn-close:hover{
                            background-color: #f5cbc6;
                        }
                        
                    }
                }

                .contenidoListas{

                    .cabezaLista{
                        text-align: center;
                        margin: 0px 0px 3px 0px;
                        div{
                            background-color: $color5;
                            border: 1px $color6 solid;
                            border-radius: 5px;
                            font-size: 0.8rem;
                        }
                    }
                    .filaLista{  // esta es la fila de los datos a mostrar
                        text-align: center;
                        margin: 0px 0px 2px 0px;
                        div{
                            border: 1.5px $color6 dotted;
                            font-size: 0.7rem;
                            background-color: white;
                        }
                    }

                    .sinMovimientos{
                        width: 80%;
                        display: grid;
                        place-items: center;
                        border: 1px black solid;
                        border-radius: 5px;
                        padding: 1rem;
                        background-color: white;
                        p{
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                }
            }
        }

        .transaccion{
            background-color: $color5;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 0.5rem;
            
            form{
                color: $color6;
                .row{
    
                    font-size: 0.8rem;
                    border-style: dashed none none none;
                    border-width: 1px;
                    .col-sm-5{
    
                        input{
                            width: 100%;
                        }
                        text-align: center;
                        label{
    
                            margin: 2px;
                        }
                    }
                    .col-sm-2{
    
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .descripcion{
                    margin-top: 4px;
                    padding-top: 4px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        .crearCuenta{
            background-color: $color6;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 0.5rem;
        }

        .mostrarCuenta{
            background-color: $color5;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 0.5rem;

            p{
                text-align: center;
            }
            form{
                background-color: $color1;
                label{
                    text-align: center;
                    color: $color6;
                }
            }

            .cuenta{
                background-color: $color6;
                border: 3px solid black;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                height: fit-content;

                .encabezado{

                    text-align: center;
                    display: flex;
                    flex-direction: column;

                    .btn-close{
                        background-color: white;
                        border-radius: 15px;
                        border-style: none;
                        width: 30px;
                        height: 30px;
                        margin: 4px 3px 4px 3px;
                        position: absolute;
                    }

                    .btn-close:hover{
                        background-color: #f5cbc6;
                    }

                    .codigo{
                        font-size: 0.7rem;
                        label{
                            margin: 0;
                            padding: 10px 0px 0px 0px;
                        }
                    }
                    .nombre{
                        font-size: 0.7rem;
                    }
                }

                .contenido{
                    height: 300px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    .ladoDebito{
                        height: 100%;
                        padding: 0;

                        .contenedorRegistro {
                            background-color: #c3ddfa;
                            border: 1px solid gray;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                    
                            .tittle{
                                display: flex;
                                justify-content: center;
                                align-items: auto;
                                padding: 2px;
                                font-size: 0.7rem;
                                height: 30px;
                            }
                            
                            /* Lista de registros debito */
                            .output {
                                background-color: $color3;
                                height: 200px;
                                overflow-y: scroll;
                                margin: 0px;
                                padding: 0px;
                                .listaRegistros{
                                    background-color: beige;
                                    font-size: 0.6rem;
                            
                                    .card{
                                        .card-header{
                                            height: 40px;
                                            padding: 6px;
                                            h2{
                                                button{
                                                    text-align: right;
                                                    font-size: 0.6rem;
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                    
                            .saldoDebito{
                                height: 70px;
                                text-align: right;
                                font-size: 15px;
                                .tituloSaldo{
                                    text-align: left;
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                    .ladoCredito{
                        height: 100%;
                        padding: 0;

                        .contenedorRegistro {
                            background-color: $color4;
                            border: 1px solid gray;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                    
                            .tittle{
                                display: flex;
                                justify-content: center;
                                align-items: auto;
                                padding: 2px;
                                font-size: 0.7rem;
                                height: 30px;
                            }


                            /* Lista de registros credito */
                            .output {
                                background-color: $color3;
                                height: 200px;
                                overflow-y: scroll;
                                margin: 0px;
                                padding: 0px;

                                .listaRegistros{
                                    background-color: beige;
                                    font-size: 0.6rem;
                            
                                    .card{
                                        .card-header{
                                            height: 40px;
                                            padding: 6px;
                                            h2{
                                                button{
                                                    text-align: right;
                                                    font-size: 0.6rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                    
                            .saldoCredito{
                                height: 70px;
                                text-align: right;
                                font-size: 15px;
                                .tituloSaldo{
                                    text-align: left;
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                }

                .saldoTotal{
                    text-align: center;
                    padding: 0px;
                    
                    .titulo{
                        margin: 0px;
                        font-size: 1rem;
                        padding-top: 3px;
                    }
                    div{
                        width: 100%;
                        margin: 0px;
                        padding: 0px;
                        .saldoIzquierda{
                            text-align: center;
                            padding: 0px 0px 0px 10px;
                            margin: 0px;
                        }
                        .saldoDerecha{
                            text-align: center;
                            padding: 0px 10px 0px 0px;
                            margin: 0px;
                        }
                    }
                }
                /* Cuando la cuenta no existe */
                .cuentaInexistente{
                    .btn-close{
                        background-color: white;
                        border-radius: 15px;
                        border-style: none;
                        width: 30px;
                        height: 30px;
                        margin: 4px 3px 4px 3px;
                    }

                    .btn-close:hover{
                        background-color: #f5cbc6;
                    }
                }

            }
        }

        .listaCuentas{
            background-color: $color6;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 0.5rem;

            .lista{
                border: 1px solid $color5;
                max-height: 250px;
                overflow-y: scroll;
                
                .encabezado{
                    margin: 0px;
                    padding: 0px;
                    
                    .titulo{
                        margin-bottom: 5px;
                        border: 0px;
                        font-size: 1.3rem;

                        p{
                            padding: 0.15rem;
                            margin: 0px;
                        }
                    }

                    .botones{ //botones de actualizar y cerrar la lista
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        button{
                            background-color: white;
                            border-radius: 15px;
                            border-style: none;
                            width: 30px;
                            height: 30px;
                            margin: 4px 3px 4px 3px;
                        }
                        .btn-reload:hover{
                            background-color: #c6f5e9;
                        }
                        .btn-close:hover{
                            background-color: #f5cbc6;
                        }
                        
                    }
                }

                .contenidoListas{

                    .grupo{// titulo del grupo de cuentas
                        background-color: $color1;
                        padding: 0;
                        margin: 1px 0px 1px 0px;
                        display: inline-block;
                        border-radius: 2px;
                        p{
                            padding: 0px;
                            margin: 0px;
                            text-align: center;
                            color: $color6;
                        }
                    }

                    .cabezaLista{//cabecera de la lista
                        text-align: center;
                        margin: 0px 0px 3px 0px;
                        div{
                            background-color: $color5;
                            border: 1px $color6 solid;
                            border-radius: 5px;
                            font-size: 0.7rem;
                        }
                    }

                    .filaLista{  // esta es la fila de los datos a mostrar
                        text-align: center;
                        margin: 0px 0px 2px 0px;
                        div{
                            border: 1.5px $color6 dotted;
                            font-size: 0.7rem;
                            background-color: white;
                        }
                    }
                }
            }
        }

    }

    footer{
        background-color: $color2;
        div{
            .text{
                padding: 1.5rem;
                color: $color6;
            }
            .navbar{
                text-decoration: none;
                font-size: 1rem;
                padding: 1.5rem;

                a{
                    color: $color3;
                }
                
                a:hover{
                    color: $color1;

                }
            }
        }
    }

}
