/* 


*/
* {
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #93B5C6;
}

body header .navbar {
  background-color: #C9CCD5 !important;
}

body header .navbar .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

body header .navbar .collapse .navbar-nav {
  background-color: #e4e4e4 !important;
}

body main .jumbotron {
  margin-bottom: 0.5rem;
}

body main .cuentasMov {
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body main .cuentasMov .lista {
  border: 1px solid #979797;
  max-height: 250px;
  overflow-y: scroll;
}

body main .cuentasMov .lista .encabezado {
  margin: 0px;
  padding: 0px;
}

body main .cuentasMov .lista .encabezado .titulo {
  margin-bottom: 5px;
  border: 0px;
}

body main .cuentasMov .lista .encabezado .titulo p {
  padding: 0.15rem;
  margin: 0px;
}

body main .cuentasMov .lista .encabezado .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .cuentasMov .lista .encabezado .botones button {
  background-color: white;
  border-radius: 15px;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 4px 3px 4px 3px;
}

body main .cuentasMov .lista .encabezado .botones .btn-reload:hover {
  background-color: #c6f5e9;
}

body main .cuentasMov .lista .encabezado .botones .btn-close:hover {
  background-color: #f5cbc6;
}

body main .cuentasMov .lista .contenidoListas .cabezaLista {
  text-align: center;
  margin: 0px 0px 3px 0px;
}

body main .cuentasMov .lista .contenidoListas .cabezaLista div {
  background-color: #979797;
  border: 1px #e4e4e4 solid;
  border-radius: 5px;
  font-size: 0.7rem;
}

body main .cuentasMov .lista .contenidoListas .filaLista {
  text-align: center;
  margin: 0px 0px 2px 0px;
}

body main .cuentasMov .lista .contenidoListas .filaLista div {
  border: 1.5px #e4e4e4 dotted;
  font-size: 0.7rem;
  background-color: white;
}

body main .transaccion {
  background-color: #979797;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body main .transaccion .TransInfo p {
  margin: 0px;
  padding: 0px;
}

body main .transaccion .row {
  font-size: 0.7rem;
  border-style: dashed none none none;
  border-width: 1px;
}

body main .transaccion .row .col-sm-5 {
  text-align: center;
}

body main .transaccion .row .col-sm-5 input {
  width: 100%;
}

body main .transaccion .row .col-sm-5 label {
  margin: 2px;
}

body main .transaccion .row .col-sm-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .transaccion .boton {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .crearCuenta {
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body main .mostrarCuenta {
  background-color: #979797;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body main .mostrarCuenta p {
  text-align: center;
}

body main .mostrarCuenta form {
  background-color: #93B5C6;
}

body main .mostrarCuenta form label {
  text-align: center;
}

body main .mostrarCuenta .cuenta {
  background-color: #e4e4e4;
  border: 3px solid black;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* Cuando la cuenta no existe */
}

body main .mostrarCuenta .cuenta .encabezado {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .mostrarCuenta .cuenta .encabezado .btn-close {
  background-color: white;
  border-radius: 15px;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 4px 3px 4px 3px;
  position: absolute;
}

body main .mostrarCuenta .cuenta .encabezado .btn-close:hover {
  background-color: #f5cbc6;
}

body main .mostrarCuenta .cuenta .encabezado .codigo {
  font-size: 0.7rem;
}

body main .mostrarCuenta .cuenta .encabezado .codigo label {
  margin: 0;
  padding: 10px 0px 0px 0px;
}

body main .mostrarCuenta .cuenta .encabezado .nombre {
  font-size: 0.7rem;
}

body main .mostrarCuenta .cuenta .contenido {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito {
  height: 100%;
  padding: 0;
  /* ContenedorRegisto antiguo 2 */
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro {
  background-color: #93B5C6;
  border: 1px solid gray;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Lista de registros debito */
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 2px;
  font-size: 0.7rem;
  height: 30px;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .output {
  background-color: #C9CCD5;
  height: 200px;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .output .listaRegistros {
  background-color: beige;
  font-size: 0.6rem;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .output .listaRegistros .card .card-header {
  height: 40px;
  padding: 6px;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .output .listaRegistros .card .card-header h2 button {
  text-align: right;
  font-size: 0.6rem;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .saldoDebito {
  height: 70px;
  text-align: right;
  font-size: 15px;
}

body main .mostrarCuenta .cuenta .contenido .ladoDebito .contenedorRegistro .saldoDebito .tituloSaldo {
  text-align: left;
  font-size: 0.7rem;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito {
  height: 100%;
  padding: 0;
  /* ContenedorRegisto antiguo 2 */
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro {
  background-color: #FFE3E3;
  border: 1px solid gray;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Lista de registros credito */
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 2px;
  font-size: 0.7rem;
  height: 30px;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .output {
  background-color: #E4D8DC;
  height: 200px;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .output .listaRegistros {
  background-color: beige;
  font-size: 0.6rem;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .output .listaRegistros .card .card-header {
  height: 40px;
  padding: 6px;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .output .listaRegistros .card .card-header h2 button {
  text-align: right;
  font-size: 0.6rem;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .saldoCredito {
  height: 70px;
  text-align: right;
  font-size: 15px;
}

body main .mostrarCuenta .cuenta .contenido .ladoCredito .contenedorRegistro .saldoCredito .tituloSaldo {
  text-align: left;
  font-size: 0.7rem;
}

body main .mostrarCuenta .cuenta .saldoTotal {
  text-align: center;
  padding: 0px;
}

body main .mostrarCuenta .cuenta .saldoTotal .titulo {
  margin: 0px;
  font-size: 1rem;
  padding-top: 3px;
}

body main .mostrarCuenta .cuenta .saldoTotal div {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body main .mostrarCuenta .cuenta .saldoTotal div .saldoIzquierda {
  text-align: center;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

body main .mostrarCuenta .cuenta .saldoTotal div .saldoDerecha {
  text-align: center;
  padding: 0px 10px 0px 0px;
  margin: 0px;
}

body main .mostrarCuenta .cuenta .cuentaInexistente .btn-close {
  background-color: white;
  border-radius: 15px;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 4px 3px 4px 3px;
}

body main .mostrarCuenta .cuenta .cuentaInexistente .btn-close:hover {
  background-color: #f5cbc6;
}

body main .listaCuentas {
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body main .listaCuentas .lista {
  border: 1px solid #979797;
  max-height: 250px;
  overflow-y: scroll;
}

body main .listaCuentas .lista .encabezado {
  margin: 0px;
  padding: 0px;
}

body main .listaCuentas .lista .encabezado .titulo {
  margin-bottom: 5px;
  border: 0px;
}

body main .listaCuentas .lista .encabezado .titulo p {
  padding: 0.15rem;
  margin: 0px;
}

body main .listaCuentas .lista .encabezado .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .listaCuentas .lista .encabezado .botones button {
  background-color: white;
  border-radius: 15px;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 4px 3px 4px 3px;
}

body main .listaCuentas .lista .encabezado .botones .btn-reload:hover {
  background-color: #c6f5e9;
}

body main .listaCuentas .lista .encabezado .botones .btn-close:hover {
  background-color: #f5cbc6;
}

body main .listaCuentas .lista .contenidoListas .grupo {
  background-color: #93B5C6;
  padding: 0;
  margin: 1px 0px 1px 0px;
  display: inline-block;
  border-radius: 2px;
}

body main .listaCuentas .lista .contenidoListas .grupo p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

body main .listaCuentas .lista .contenidoListas .cabezaLista {
  text-align: center;
  margin: 0px 0px 3px 0px;
}

body main .listaCuentas .lista .contenidoListas .cabezaLista div {
  background-color: #979797;
  border: 1px #e4e4e4 solid;
  border-radius: 5px;
  font-size: 0.7rem;
}

body main .listaCuentas .lista .contenidoListas .filaLista {
  text-align: center;
  margin: 0px 0px 2px 0px;
}

body main .listaCuentas .lista .contenidoListas .filaLista div {
  border: 1.5px #e4e4e4 dotted;
  font-size: 0.7rem;
  background-color: white;
}

body footer {
  background-color: #C9CCD5;
}

body footer div .text {
  padding: 1.5rem;
}

body footer div .navbar {
  font-size: 0.5rem !important;
  padding: 1.5rem;
}
/*# sourceMappingURL=style.css.map */